/*arreglo*/
img{
	width:45px;
	height: 45px;
	border-radius:100%;
}
.ct{
	font-size: 70px;
	font-size: 20px;
	color: grey;
}
#margen{
	margin-top:10px;
	padding:none;
	margin-left:-19px;

}
#cuadro1{
	border: 1px solid #E3E3E3 ;
}
#h-color{
	background-color: #E3E3E3;
	padding:5px;
	margin-bottom: 5px;
	height: 75px;
	border:1px solid #CBC8CB;

}
p{
	color:grey;
	font-size: 10px;
}
h4{
	font-size: 13px;
}
#cuadro{
	width: 70%;
	margin:0 auto;
}
.col-xs-2{
	margin-top:8px;
}
hr{
	margin-top: 0;
	margin-bottom: 0; 
	height: 1px;
	background-color: grey;
	border:0;
		
}
.chat span{
	float: right;
}
.chat1 span{
	float: right;
}
.chat{
	background-color:#D4EEA4;
    border-radius:5px;
    float: right;
    padding: 5px;
    margin-top:5px;
    height: 40px;
}
.chat1{
	background-color:#D4EEA4;
    border-radius:5px;
    float: right;
    padding: 5px;
    margin-top:5px;
    height: 40px;
    margin-top: 200px;
}
p .morado{
	color:#630C53;
}
.verde{
	color:#326346;
}
.naranja{
	color:#C8651D;
}
.celeste{
	color:#ACE1EE;
}
.mensajes{
	margin-bottom:110px;
	margin-top:10px;
}
.mensajes1{
	margin-bottom: 10px;
	width: 100%;
}
.mj{
	border:1px solid #CBC8CB;
	border-radius:5px;
	width: 100%;
	padding: 3px 30px 3px 5px;
}
/*arreglo*/